{{ header }}
{% for case in cases %}
@test "{{ case.description }}" {
  run awk -f alphametics.awk <<< "{{ case.input.puzzle }}"
  assert_success
  assert_output "{% [f'{letter}={digit}' for letter, digit in sorted((case.expected or {}).items())] | join(' ') %}"
}
{% endfor %}
