{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
    run gawk -f {{ solution }} -v value={{ case["input"]["value"] }} <<< "{{ case["input"]["array"] | join(",") }}"
{%- if case["expect_error"] %}
    assert_success
    assert_output -1
{%- else %}
    assert_success
    assert_output {{ case["expected"] + 1 }}
{%- endif %}
}
{% endfor %}
