{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
  {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
  expected=$(cat <<END_EXPECT
{%- for expect in case["expected"] | sort(attribute="row,column") %}
{{ expect["row"] }} {{ expect["column"] }}
{%- endfor %}
END_EXPECT
)
  run gawk -f {{ solution }} <<END_INPUT
{{ case["input"]["matrix"] | map("join", " ") | join("\n") }}
END_INPUT
  assert_success
  assert_output "$expected"
}
{% endfor %}
