{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
    run gawk -f {{ solution }} <<EOF
{{ [case["input"]["start"]["x"], case["input"]["start"]["y"], case["input"]["start"]["angle"]] | join(" ") }}
{%- for prism in (case["input"]["prisms"] | sort(attribute="id")) %}
{{ [prism["id"], prism["x"], prism["y"], prism["angle"]] | join(" ") }}
{%- endfor %}
EOF
    assert_success
    assert_output "{{ case["expected"]["sequence"] | join(" ") }}"
}
{% endfor %}
