{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
    run gawk -f {{ solution }} <<END_INPUT
{%- if case["input"]["basket"] %}
{{ case["input"]["basket"] | join("\n") }}
{%- endif %}
END_INPUT
    assert_success
    assert_output "{{ case["expected"] }}"
}
{% endfor %}
