{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}, {{ case["property"] }}" {
  {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
  run gawk -f {{ solution }} -v type={{ case["property"] }} <<< "{{ case["input"]["sides"] | join(" ") }}"
  assert_success
  assert_output "{{ case["expected"] }}"
}
{% endfor %}
