{{ header }}
{% for idx, case in cases %}
@test "{{ case["description"] }}" {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
    expected=$( cat <<EOF
{%- if case["expected"] %}
{{ case["expected"] | join("\n") }}
{%- endif %}
EOF
)
    run gawk -f {{ solution }} <<< "{{ case["input"]["strings"] | join(" ") }}"
    assert_success
    assert_output "$expected"
}
{% endfor %}
